CompileFlags:
  CompilationDatabase: build/
  Add:
    # C++ Standard and MSVC compatibility
    - -std=c++23
    - -fms-extensions
    - -fms-compatibility-version=19.5
    # Engine includes
    - -IC:/Users/youssef/3D Objects/Deform/Engine/src
    - -IC:/Users/youssef/3D Objects/Deform/Engine/external
    - -IC:/Users/youssef/3D Objects/Deform/Engine/external/GLFW/include
    - -IC:/Users/youssef/3D Objects/Deform/Engine/external/UUID/include
    - -IC:/Users/youssef/3D Objects/Deform/Engine/external/DDSTextureLoader
    # Editor includes
    - -IC:/Users/youssef/3D Objects/Deform/Editor/src
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external/imgui
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external/imgui/backends
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external/GLFW/include
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external/UUID/include
    - -IC:/Users/youssef/3D Objects/Deform/Editor/external/stb_image.h
    # Vulkan SDK
    - -IC:/VulkanSDK/1.4.341.1/include
    # Preprocessor definitions
    - -DWIN32
    - -D_WINDOWS
    - -DDEFORM_ENGINE_EXPORTS

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
